.player-video {
    border-radius: var(--border-radius);
    height: 100px;
    width: 100px;

    @media (max-width: 768px) {
      object-fit: cover;
      width: auto;
      height: 100%;
      filter: grayscale(100%) contrast(1) brightness(50%);
    }
  }